/*=========== Start blog_single2 css ==========*/
.tip_banner_area {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 70px;
  background-color: var(--secondary_color);
  position: relative;
  z-index: 9;

  .banner_shape {
    position: absolute;
    left: 0;
    top: 0;
  }

  .banner_title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    line-height: 59px;
    color: #fff;
  }

  .col-lg-4 {
    &:nth-child(1) .tip_title {
      color: #e25920;
    }
    &:nth-child(2) .tip_title {
      color: #9f62d9;
    }
    &:nth-child(3) .tip_title {
      color: #e31587;
    }
    &:nth-child(4) .tip_title {
      color: #0090ed;
    }
    &:nth-child(5) .tip_title {
      color: #33cc9e;
    }
    &:nth-child(6) .tip_title {
      color: #d056d9;
    }
  }
}

.tip_item {
  display: flex;
  margin-bottom: 35px;

  .tip_icon {
    margin-right: 15px;
    img {
      max-width: 40px;
    }
  }
  .tip_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .tip_para {
    font-size: 16px;
    line-height: 24px;
    color: var(--black_200);
    margin-bottom: 0;
  }
}

.tip_doc_area {
  z-index: 0;
  padding-top: 120px;
  padding-bottom: 100px;

  &.stick {
    .left_sidebarlist {
      position: fixed;
      top: 0;
      width: 270px;
      margin-top: 130px;
      .nav-sidebar {
        &:before {
          left: -15px;
          bottom: 0;
        }
      }
    }
  }

  .left_sidebarlist {
    .nav-sidebar {
      &:before {
        content: "";
        width: 1px;
        background: #e0e0ff;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .nav-link {
      line-height: 1.7;
      color: inherit;
      position: relative;
      font-weight: 500;
      padding-left: 5px;
      &.active {
        &::before {
          content: "";
          width: 3px;
          bottom: 0;
          background: var(--brand_color);
          position: absolute;
          top: 0;
          left: -15px;
          height: 90%;
        }
        + ul.nav {
          display: block;
        }
      }
    }
    ul.nav ul {
      padding-left: 20px;
      display: none;
      .nav-link {
        font-weight: 400;
        line-height: 1.3;
        &.active {
          &::before {
            display: none;
          }
          color: var(--brand_color);
        }
      }
    }
  }

  .blog_info {
    padding-left: 38px;

    .blog_body {
      border-bottom: 1px solid #dfe2e4;
      padding-bottom: 25px;
      margin-bottom: 100px;
    }

    .body_item {
      padding-top: 100px;

      &:nth-child(1) {
        padding-top: 0;
        .paralist {
          margin-bottom: 0;
        }
      }

      &:nth-child(2) .info_title {
        color: #9f62d9;
      }
      &:nth-child(2) .item_icon {
        border-color: #9f62d9;
      }
      &:nth-child(3) .info_title {
        color: #E31587;
      }
      &:nth-child(3) .item_icon {
        border-color: #E31587;
      }
      &:nth-child(4) .info_title {
        color: #0090ed;
      }
      &:nth-child(4) .item_icon {
        border-color: #0090ed;
      }
      &:nth-child(5) .info_title {
        color: #33CC9E;
      }
      &:nth-child(5) .item_icon {
        border-color: #33CC9E;
      }
      &:nth-child(6) .info_title {
        color: #d056d9;
      }
      &:nth-child(6) .item_icon {
        border-color: #d056d9;
      }


      .item_icon {
        border-bottom: 1px solid #e25920;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      .tip_para {
        margin-right: 15px;
        margin-bottom: 45px;
      }
      .info_title {
        color: #e25920;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 15px;
      }
      .info_para {
        line-height: 26px;
        margin-bottom: 40px;
      }
      .info_subtitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 20px;

        span {
          display: block;
          color: #9f62d9;
        }
      }
      .info_subpara1 {
        margin-bottom: 0px;
        &.mb-25 {
          margin-bottom: 25px;
        }
      }
      .info_subpara2 {
        margin-bottom: 45px;
      }
      .paralist {
        padding-inline-start: 16px;
        margin-bottom: 45px;
      }
      .item_icon2 {
        border-bottom: 1px solid #9f62d9;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
    }
  }
}